.title{
    text-align: center;
}
.email{
    margin-left: 7%;
}
.fName{
    margin-left: 2%;
}
.tel{
    margin-left: 3%; 
}
.lName{
    margin-left: 5%;
}
.zip{
    margin-left: 13%;
}
.form{
    width: 30%;
    text-align: left;
    float: left;
    margin-left: 35%;
    
   
}