.title{
    text-align: center;
}
.left{
    margin-left: 40%;
    display: block;
    
}
.right{
    display: block;
}
form{
    background-color: grey;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 40px;
    text-align: left;
    float: left;
    
}