.title{
    text-align: center;
}


form{
    text-align: center;
    background-color: grey;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 40px;
    text-align: left;
    float: left;
    display: block;
    column-count: 2;
    
}

.box{
    height: 200px;
    width: 200px;
    background-color: white;
}